body {
	height: 100%;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: lighter;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

#map-canvas {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	/*height: 100%;*/
	width: 100%;
	margin: 0;
	padding: 0;
}

#the_side_bar {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 20%;
	background-color: white;
	opacity: 0.85;
	overflow: scroll;
}

@media only screen
and (min-device-width : 481px)
and (max-device-width : 768px) {
	#the_side_bar {
		width: 50%;
		font-size: 1.5em;
	}
}


@media only screen
and (max-device-width : 480px) {
	#the_side_bar {
		width: 100%;
		font-size: 2em;
	}
}


.sidebar_button {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: gray;
	width: 3em;
	height: 3em;
	border-radius: 2em;
}

img[id^="gmlFB"] {
	width: 1.2em;
	height: 1.1em;
}

input[id$="CB"] {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

input[id$="CB"]:active,
input[id$="CB"]:checked:active {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

input[id$="CB"]:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
	color: #99a1a7;
}

input[id$="CB"]:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0;
	left: 3px;
	color: #99a1a7;
}

#gml1FCB {
	display: none;
}

#the_side_bar ul {
	padding: 0;
	margin-left: 3%;
	list-style-type: none;
}
/*#gml_folder1 ul {
	margin-left: 10%;
}*/

div[id^="gml_folder"] {
	margin-left: 5%;
}
