{% extends "base/index.html" %} 
{% load staticfiles %} 
{% load custom_markdown %}
{% load volunteer_contacts %}
{% block content %}
<div id="content">
    <div class="imageBar">
        <img class="regular" src="{% static "home/img/bff_map.png" %}" alt="Beacon Food Forest schematic">
        <img class="regular img-follow" src="{% static "home/img/bff_banner.png" %}" alt="Food Foresters">
    </div>
    {% if announcements %}
        {% for announcement in announcements %}
            {% if announcement.announcement_publish_override %}
            <div class="content-div announcement first-content-div">
                <h2 class="content-title">{{announcement.announcement_slug}}</h2>
                <div class="markdown">
                    {{ announcement.announcement_content|parse_markdown }}
                </div>
                {% if announcement.announcement_link %}
                    <p class="more-info-link"><a href="{{announcement.announcement_link}}">More Info</a></p>
                {% endif %}
                <p class="published-date">Published on {{announcement.announcement_publish_date}}</p>
                <div class="float-clear-left"></div>
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <div class="content-div">
        <h2 class="content-title">
            Welcome
        </h2>
        <p>
            The goal of the Beacon Food Forest is to design, plant and grow an edible urban forest garden that inspires our community to gather together, grow our own food and rehabilitate our local ecosystem.
            <br/>
            <br/>Join us to improve public health by regenerating our public land into an edible forest ecosystem. We work to reduce agricultural climate impact, improve our local food security, provide educational opportunities, and celebrate growing food for the benefit of all species.
            <br/>
            <br/> Please support the Beacon Food Forest by getting involved, donating and spreading the word.
        </p>
    </div>
    <div class="content-div">
        <h2 class="content-title">
                What is a Food Forest?
        </h2>
        <p>A food forest is a gardening technique or land management system, which mimics a woodland ecosystem by substituting edible trees, shrubs, perennials and annuals. Fruit and nut trees make up the upper level, while berry shrubs, edible perennials and annuals make up the lower levels. The Beacon Food Forest will combine aspects of native habitat rehabilitation with edible forest gardening.
            <br/>
            <br/>The goal of the Beacon Food Forest is to bring the richly diverse community together by fostering a Permaculture Tree Guild approach to urban farming and land stewardship. By building a community around sharing food with the public we hope to be inclusive to all in need of food.
            <br/>
            <br/>The Food Forest is set to include an
            <span class="text-bold">Edible Arboretum</span> with fruits gathered from regions around the world, a
            <span class="text-bold">Berry Patch</span> for canning, gleaning and picking, a
            <span class="text-bold">Nut Grove</span> with trees providing shade and sustenance, a
            <span class="text-bold">Community Garden</span> using the p-patch model for families to grow their own food, a
            <span class="text-bold">Gathering Plaza</span> for celebration and education, a
            <span class="text-bold">Kid's Area</span> for eduction and play and a
            <span class="text-bold">Living Gateway</span> to connect and serve as portals as you meander through the forest.
            <br/>
            <br/>The Beacon Food Forest started in 2009 as a final design project for a permaculture design course. The 7-acre site is located in the Beacon Hill neighborhood to the west of Jefferson Park, 2.5 miles from downtown Seattle. Phase One (2 acres) is scheduled to be up and running by early 2014.
        </p>
        <div class="block-items block-items-text">
            <p>
                <span class="blue">
                        <a href="{% url 'permaculture' %}">About Permaculture</a>
                    </span>
            </p>
            <p>
                <span class="blue">
                        <a href="#" onclick="center_popup_open('promo-video')">View Our Video</a>
                    </span>
            </p>
            <p>
                <span class="blue">
                        <a href="{% url 'project' %}">About The Project</a>
                    </span>
            </p>
            <p>
                <span class="blue">
                        <a href="{% url 'how-we-started' %}">How We Got Started</a>
                    </span>
            </p>
        </div>
    </div>
    <div class="content-div">
        <a id="getinvolved"></a>
        <h2 class="content-title">
            Get Involved
        </h2>
        <p>We are seeking the help of Beacon Hill community members, local institutions and city wide volunteers to join together to build and grow a Food Forest.
            <br/>
            <br/>To get involved with our project and receive event notices about upcoming work parties, please
            <span class="heavy">
                <a href="#" onclick="center_popup_open('mailList')">Join Our Mailing List</a>
            </span>.
            <br/>
            <br/>In the meantime, there are committees working behind-the-scenes to develop this community project. The teams include field work, education, outreach, event planning and marketing services. All are welcome to get involved.
            <br/>
            <br/>Forks up to all those who have supported our efforts so far.
        </p>
        <div class="block-items block-items-text">
            <p>
                <span class="blue">
                    <a href="http://www.seattle.gov/neighborhoods/ppatch/signupPpatch.htm" target=_blank>
                    Sign Up for a P-patch Plot
                    </a>
                </span>
            </p>
            <p>
                <span class="blue">
                    <a href="https://docs.google.com/forms/d/1MSgoAy5E30uK36ZZKrVQvha74v7wqMx0hMUj6_oV6PQ/viewform?usp=send_form" target="_blank">Sign Up to Volunteer</a>
                </span>
            </p>
            <p>
                <span class="blue">
                    <a href="#" onclick="center_popup_open('mailList')">
                        Join Our Mailing List
                    </a>
                </span>
            </p>
            <p>
                <span class="blue">
                    <a href="#" onclick="center_popup_open('calendar')()">View our Calendar</a>
                </span>
            </p>
        </div>
    </div>
    <div class="content-div">
        <h2 class="content-title" id="workparties">
            Work Parties
        </h2>
        <p>
            Work parties are family friendly events that involve a diverse community of all ages in a huge variety of tasks at the Beacon Food Forest site.
            <br/>
            <br/>
            <b>There is no registration required.</b> Parties generally run between 10:00 AM to 2:00 PM. Please bring work gloves, water, and a $2 to $5 donation for lunch.
        </p>
        <div class="block-items block-items-text">
            <p>
                <span class="blue">
                    <a href="#" onclick="center_popup_open('work-party-video')">Work Party Invitation</a>
                </span>
            </p>
        </div>
    </div>
    <div class="content-div">
        <h2 class="content-title" id="supportus">
            Support Our Community
        </h2>
        <div class="content-text">
            <p>The Beacon Food Forest is community powered and survives on generous donations from our growing number of volunteers. This project's success is sustained by the support of diverse friends and neighbors around the world.
                <br/>
                <br/>There are many welcomed ways to support the Beacon Food Forest.
                <br/>
                <i>*All donations are tax-deductible.</i>
            </p>
        </div>
        <div class="block-items block-items-text">
            <p>
                <span class="blue">
                    <a href="#" onclick="center_popup_open('donate')">
                    Donate Money
                    </a>
                </span>
            </p>
            <p>
                <span class="blue">
                    <a href="#" onclick="center_popup_open('materials-donation')">
                    Donate Food or Materials
                    </a>
                </span>
            </p>
            <p>
                <span class="blue">
                    <a href="&#109;ailt&#111;&#58;&#37;&#54;Au&#108;i%61&#37;6E&#37;6F&#37;72%74h&#114;&#37;&#54;5%&#54;4&#64;h&#111;%&#55;4&#109;a&#105;&#108;&#46;co%6&#68;" target="_top">
                    Art Proposals
                    </a>
                </span>
            </p>

        </div>
    </div>
    <div class="content-div">
        <h2 class="content-title">
            Visit Us
        </h2>
        <p>The Beacon Food Forest is located at 15th Ave S. and S. Dakota St. Seattle WA to the west of Jefferson Park.
            <br/>
            <br/>The design of this seven-acre site provides opportunities for cultural exchange and understanding, for education and recreation.
            <br/>
            <br/>Visit us on-site to help us build our Food Forest or
            <span class="heavy">
                <a href="#" onclick="center_popup_open('mailList')">Join Our Mailing List</a>
            </span>to get involved.
        </p>
        <div class="block-items block-items-text">
            <p>
                <span class="blue">
                    <a href="#" onclick="center_popup_open('directions')">
                Get Directions
                </a>
                </span>
            </p>
            <p>
                <span class="blue">
                    <a href="https://www.facebook.com/beaconfoodforest/photos_stream" target="_blank">
                    View Photos on Facebook
                    </a>
                </span>
            </p>
        </div>
    </div>
    <div id="contact" class="section-div">
        <h2 class="content-title">Contact Us</h2>
        {{ show_contact_us }}
    </div>
</div>
{% endblock content %}