<!DOCTYPE html>
<html>

<head>

    <title>
        Beacon Food Forest : A Community Permaculture Project
    </title>
    <script type="text/javascript" src="js/easypop.js"></script>
    <script src="js/jquery.js"></script>
    <script src="includes/includes.js"></script>
    <script src="includes/bffga.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <link href="css/style.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="css/slicknav.css" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <!-- Google Translate Meta -->
    <meta name="google-translate-customization" content="d146be5ef5f93bc-8a449acf17695ebb-gba1a2e4ad08a8c79-14"></meta>
    <!--/Google Translate Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div id="popcontent">{% include "home/popcontent.html" %}</div>
    <div id="main">
        <div class="background-nut"></div>
        <div id="headercontent"></div>
        <div id="container">

            <div id="indexcontent" class="main-content"></div>
            <div class="right-column">
                <div id="sidecontent"></div>
            </div>

        </div>
        <div id="footercontent"></div>
    </div>
</body>

</html>