########################################################
# This .htaccess file should be placed in the public_html/ directory of Bluehost
########################################################
# This .htaccess file aims to setup the following:
# 1) A django app hosted at beaconfoodforest.org/
# 2) A static files directory at beaconfoodforest.org/s/
# 3) OBSOLETE -- The use of beaconfoodforest.org/includes/ for extra php execution files
# 4) The passthrough to beaconfoodforest.org/recipes for the recipes blog
# 5) A test django app hosted at test.beaconfoodforest.org/
# 6) A test static files directory at beaconfoodforest.org/s-test/
########################################################


##### Definitions ######
# REQUEST_FILENAME
# The full local filesystem path to the file or script matching the request, if this has already been determined by the server at the time REQUEST_FILENAME is referenced. Otherwise, such as when used in virtual host context, the same value as REQUEST_URI.
#
# REQUEST_URI
# The path component of the requested URI, such as "/index.html". This notably excludes the query string which is available as as its own variable named QUERY_STRING.



# Use PHP54 Single php.ini as default
AddHandler application/x-httpd-php54s .php
# Adds fcgi for Django handling
AddHandler fcgid-script .fcgi



# BlueHost.com 
# These lines will create rewrite requests from beaconfoodforest.org (root) to the /django subdirectory where the .fcgi will be stored
# If the request's domain is www.beaconfoodforest.org or beaconfoodforest.org
RewriteCond %{HTTP_HOST} ^(www.)?beaconfoodforest.org$ 
# AND If the URI path component does NOT start with /beaconfoodforest.org/
RewriteCond %{REQUEST_URI} !^/django/ 
# f is for files, d for directories.  If the REQUEST is not for files or directories
RewriteCond %{REQUEST_FILENAME} !-f 
#RewriteCond %{REQUEST_FILENAME} !-d 
# Then rewrite ALL requests like beaconfoodforest.org/whatever to the subdirectory /beaconfoodforest.org/whatever
RewriteRule ^(.*)$ django/beaconfoodforest.fcgi/$1
# Setup a matching condition again if the request's domain is www.beaconfoodforest.org or beaconfoodforest.org
RewriteCond %{HTTP_HOST} ^(www.)?beaconfoodforest.org$ 
# Then if it already matches beaconfoodforest.org/index.html, then just route there without following any more rules (prevents a loop)
RewriteRule ^(/)?$ django/beaconfoodforest.fcgi [L]



# This sets up a testing site at test.beaconfoodforest.org
RewriteCond %{HTTP_HOST} ^(www.)?test.beaconfoodforest.org$
RewriteCond %{REQUEST_URI} !^/test/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule ^test(.*)$ test/beaconfoodforest.fcgi/$1
RewriteCond %{HTTP_HOST} ^test.beaconfoodforest.org$
RewriteRule ^test(/)?$ test/beaconfoodforest.fcgi [L]

