appnope==0.1.0
decorator==4.0.9
Django==1.8.9
django-admin-bootstrapped==2.5.7
django-crispy-forms==1.6.1
django-debug-toolbar==1.6
django-extensions==1.7.4
django-filter==1.0.1
django-geoposition==0.3.0
django-markdown==0.8.4
django-simple-captcha==0.5.1
django-taggit==0.20.2
django-webpack-loader==0.4.1
djangorestframework==3.5.3
gnureadline==6.3.3; sys_platform == 'darwin'
ipython==4.1.1
ipython-genutils==0.1.0
Markdown==2.6.5
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.6
Pillow==3.1.1
psycopg2==2.7.1
ptyprocess==0.5.1
pytz==2016.7
simplegeneric==0.8.1
six==1.10.0
sqlparse==0.2.1
traitlets==4.1.0
