{% extends "base/app-page-content.html" %} 
{% load staticfiles %} 

{% block header %}{% include "base/header.html" with h1="Volunteers" %}{% endblock header %}
{% block title %}{{ title }}{% endblock title %}

{% block app-content %}
    <script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"></script><iframe class="airtable-embed airtable-dynamic-height" src="https://airtable.com/embed/shrfXHel6F9m5hAHW?backgroundColor=blue" frameborder="0" onmousewheel="" width="100%" height="1765" style="background: transparent; border: 1px solid #ccc;"></iframe>
{% endblock app-content %}
