{% extends "base/app-page-content.html" %} 
{% load staticfiles %} 

{% block header %}{% include "base/header.html" with h1="Volunteers" %}{% endblock header %}
{% block title %}{{ title }}{% endblock title %}

{% block app-content %}
    <h2>For Volunteers</h2>
    <h4>This page contains tools for current volunteers</h4>
    <br>
    <a class="btn btn-lg btn-primary" href="{% url 'log-individual-hours' %}">
    <i class="fa fa-user fa-5x pull-left"></i>Log your individual hours here</a>
     <a class="btn btn-lg btn-primary" href="{% url 'log-group-hours' %}">
     <i class="fa fa-users fa-5x pull-left"></i>Log your group/meeting hours</a>
{% endblock app-content %}
