{% extends "base/app-page-content.html" %} 
{% load staticfiles %} 
{% block header %}{% include "base/header.html" with h1="Tour Calendar" %}{% endblock header %}

{% block app-content %}
    <h2 class="asset-page">{% block title %}{{ title }}{% endblock title %}</h2>
    <div class="pageCalendar col-sm-12">
        <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=lapora.org_qvsjhl96tkhe0e0cmql3s2n1ps%40group.calendar.google.com&amp;color=%2323164E&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="800" height="600" scrolling="no"></iframe>
    </div>
{% endblock app-content %}
