{% extends "base/app-page-content.html" %} 
{% load staticfiles %} 

{% block header %}{% include "base/header.html" with h1="Committees" %}{% endblock header %}
{% block title %}{{ title }}{% endblock title %}

{% block app-content %}
    {% if committees %}
        <div class="list-group">
        {% for committee in committees %}
            <a href="{% url 'committee-detail' committee.slug %}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h3 class="mb-1">{{ committee.name }}</h3>
                {% if committee.description %}
                    <div class="mb-1 ckeditor">{{ committee.description | safe }}</div>
                {% endif %}
                {% if committee.main_contact %}
                    <small class="text-muted">Contact {{ committee.main_contact }}</small>
                {% endif %}
                </div>
            </a>
        {% endfor %}
        </div>
    {% endif %}
{% endblock app-content %}
