{% extends "base/app-page-content.html" %} 
{% load staticfiles %} 

{% block header %}{% include "base/header.html" with h1="Committees" %}{% endblock header %}
{% block title %}{{ title }}{% endblock title %}

{% block app-content %}
    {% if committees %}
        <div class="list-group">
        {% for committee in committees %}
            <a href="{% url 'committee-detail' committee.slug %}" class="list-group-item list-group-item-action col-sm-4 col-md-3">{{ committee.name }}</a>
        {% endfor %}
        </div>
    {% endif %}
{% endblock app-content %}
