{% extends "base/app-page-content.html" %} 
{% load staticfiles %} 
{% load custom_markdown %}
{% block header %}{% include "base/header.html" with h1="Education" %}{% endblock header %}

{% block app-content %}
    <h2 class="asset-page">{% block title %}{{ title }}{% endblock title %}</h2>
    {% if classes %}
        {% for class in classes %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 image-grid">

            <div class="crop">
              <a href="{% url 'class-detail' class.class_slug_url  %}"><span class="image-grid-link"></span></a>
              {% if class.class_primary_image %}
                <img src="/media/{{class.class_primary_image}}" alt="{{class.title}} photo">
              {% else %}
                <img src="{% static "education/img/education_default.jpg" %}" alt="Education event default image">  
              {% endif %} 
              <div class="event">
                <div class="event-date">
                    <p class="event-month">{{ class.event_date|date:"M" }}</p>
                    <p class="event-day">{{ class.event_date|date:"j" }}</p>
                </div>
                <div class="event-desc event-listpage">
                  <h2 class="event-desc-header">{{class.title}}</h2>
                </div>
              </div>
            </div>
          
        </div>
        {% endfor %}
    {% endif %}
{% endblock app-content %}
{% block app-sidenav %}
  {% include "education/education-sidenav.html" %}
{% endblock app-sidenav %}
