{% extends "base/app-page-content.html" %} 
{% load staticfiles %} 
{% load custom_markdown %}
{% block app-content %}
    {% if class %}
        <div class="app-listing container-fluid">
          <div class="crop">
            {% if class.class_primary_image %}
              <img src="/media/{{class.class_primary_image}}" alt="{{class.title}} photo">
            {% else %}
              <img src="{% static "education/img/education_default.jpg" %}" alt="Education event default image">  
            {% endif %} 
            
            <div class="event">
              <div class="event-date">
                  <p class="event-month">{{ class.event_date|date:"M" }}</p>
                  <p class="event-day">{{ class.event_date|date:"j" }}</p>
              </div>
              <div class="event-desc">
                <h2 class="event-desc-header">{{class.title}}</h2>
                <a class="rsvp btn btn-primary" href="{{ class.ticket_link }}" role="button">Get Tickets</a>
              </div>
            </div>
          </div>


          <div>
            <p><i>From {{ class.event_start_time }} until {{ class.event_end_time }}</i></p>
            <p class="description">{{ class.class_description|parse_markdown }}</p>
            {% if class.class_location %}
                <p>Location: 
                    {% if class.class_location_link %}
                        <span class="blue"><a href="{{ class.class_location_link }}">
                    {% endif %}
                    {{ class.class_location }}
                    {% if class.class_location_link %}
                        </a></span>
                    {% endif %}
                </p>
            {% endif %}
            <script type="application/ld+json">
                {
                  "@context": "http://schema.org",
                  "@type": "EducationEvent",
                  "name": "Class: {{ class.title }}",
                  "startDate" : "{{ class.event_date|date:"c"}}",
                  "url" : "{{ request.build_absolute_uri }}",
                  "location" : {
                    "@type" : "Place",
                    "name" : "{{ class.class_location }}",
                    "address" : "{{ class.class_location }}"
                  },
                  "offers" : {
                    "@type" : "Offer",
                    "price":"{{ class.price }}",
                    "priceCurrency":"USD",
                    "url":"{{ class.ticket_link }}"
                  }
                }
            </script>
            </div>
        </div>
    {% endif %}
{% endblock app-content %}
{% block app-sidenav %}
  {% include "education/education-sidenav.html" %}
{% endblock app-sidenav %}
