{% extends "base/index.html" %} 
{% load staticfiles %} 
{% load custom_markdown %}
{% block content %}
<div id="content">
    {% if class %}
        <h2>{{ class.title}}</h2>
        <div id="class-primary-image">
        </div>
        <div class="class-text-content">
            <p>Date: {{ class.event_date }}</p>
            <p>From {{ class.event_start_time }} until {{ class.event_end_time }}</p>
            <p>Find tickets here: {{ class.ticket_link }}</p>
            <p class="description">Description: {{ class.class_description|parse_markdown }}</p>
            <p>Location: <a href="{{ class.class_location_link }}">{{ class.class_location }}</a></p>
        </div>
    {% endif %}

</div>
{% endblock content %}