{% extends "base/app-page-content.html" %} 
{% load staticfiles %}
{% block app-title %}Education | Want to Teach a Class? | Criteria{% endblock app-title %}
{% block app-content %}
    <div class="content-div">
        <a id="getinvolved"></a>
        <h2 class="content-title">
            CRITERIA FOR PROPOSING A WORKSHOP
        </h2>
        <h3>
            Instructor Criteria
        </h3>
        <p>
            <ul>
                <li>Volunteers of the friends of Beacon Food Forest
                    <ul>
                        <li>An Instructor  who is prepared and knowledgeable in a topic, and has demonstrated knowledge and communication skills to the BFF team</li>
                        <li>A new instructor whose abilities and knowledge are unknown to the PEC team, and who is willing to conduct a sample workshop at a BFF work party to demonstrate their knowledge and abilities.</li>
                    </ul>
                </li>
                <li>People who have contributed to the permaculture knowledge bank and will contribute to BFF growth and management</li>
            </ul>
        </p>
        <h3>Workshop Topic Criteria</h3>
        <p>
            <ul>
                <li>permaculture-related topics</li>
                <li>topics which meet the mission of the BFF</li>
            </ul>
        </p>
        <div class="block-items block-items-text">
            <p>
                <span class="blue"><a href="{% url 'teacher-expectations' %}">Continue to Expectations</a></span>
            </p>
            <p>
                <span class="blue"><a href="{% url 'education-hub' %}">Back to Education Home</a></span>
            </p>
        </div>
    </div>
{% endblock app-content %}
{% block app-sidenav %}
  {% include "education/education-sidenav.html" %}
{% endblock app-sidenav %}
