{% extends "base/index.html" %} 
{% load staticfiles %}

{% block content %}
<div class="content-ext">
    <div class="content-div first-content-div">
        <a id="getinvolved"></a>
        <h2 class="content-title">
            WORKSHOP PROPOSAL
        </h2>
        <h3>STEPS</h3>
        <p>
            <ol>
                <li>Potential Instructor gets acquainted with PEC procedures and expectations by going to website (beaconfoodforest.org) or by attending PEC meetings. </li>
                <li>Instructor submits workshop proposal to the PEC. In providing information on experience and knowledge, reference experience ( for example : “I have led a compost team at several work parties in 2014, 2015…”) </li>
                <li>PEC Team reviews proposed workshop and considers:
                    <ol type="a">
                        <li>topic</li>
                        <li>context of recent workshops in the overall PEC schedule  </li>
                        <li>instructor background. Types of Instructor backgrounds:
                            <ul>
                                <li>Instructor with Demonstrated Knowledge:
                                    <ul>
                                        <li>Instructor is prepared and knowledgeable in a topic,</li>
                                        <li>has demonstrated that knowledge to the BFF team </li>
                                        <li>demonstrates an ability to communicate information</li>
                                    </ul>
                                </li>
                                <li>Proposal by an Instructor who has Not Yet Demonstrated Knowledge:
                                    <ul>
                                        <li>Instructor is new to teaching workshops and/or</li>
                                        <li>if the BFF team is not familiar with their knowledge and their ability to share that knowledge </li>
                                    </ul>
                                <strong><i>PEC team reviews proposal and asks the potential instructor to instruct a sample workshop at a BFF work party.</i></strong>
                                </li>
                                <li>Proposal by an instructor who is not a BFF volunteer, but is a person who has contributed to the permaculture knowledge bank and will contribute to BFF growth/ management<br/><br/>
                                <strong><i>PEC team considers and accepts or declines.</i></strong>    
                                </li>
                            </ul>        
                        </li>
                    </ol>
                </li>
                <li>If clarification or more information is needed, the PEC team will communicate with proposed instructor as needed</li>
                <li>When accepted, instructor proceeds to communicate with administrator of the PEC</li>
                <li>Administrator gives directions for listing the workshop and reminds instructor of procedures</li>
            </ol>
        </p>
        <div class="block-items block-items-text">
            <p>
                <span class="blue"><a href="mailto:cramerjacqueline99@gmail.com?Subject=Permaculture%20Education%20Collective%20Workshop%20Proposal" target="_top">Email Administrator with Proposal</a></span>
            </p>
        </div>
    </div>
</div>
{% endblock content %}
