{% extends "education/education-page-content.html" %} 
{% load staticfiles %}

{% block education-content %}
<div class="content-ext">
    <div class="content-div first-content-div">
        <a id="getinvolved"></a>
        <h2 class="content-title">
            EXPECTATIONS
        </h2>
        <h3>Expectations of Instructor</h3>
        <p>
            <ul>
                <li>Has knowledge to share and communicates clearly to make information available to workshop participants. </li>
                <li>Provides for some scholarship and/or sliding scale positions for registrants</li>
                <li>Coordinates and communicates clearly and in a timely manner with administrator </li>
                <li>Becomes familiar with / inform themselves about the PEC </li>
                <li>Coordinates with BFF site development and/or PEC teams as necessary. Accommodates request by BFF and City of Seattle in messaging,  marketing</li>
                <li>Conducts marketing through their own networks, not relying soley on BFF for marketing</li>
                <li>Provides an outline of intended workshop 2 weeks prior to delivery</li>
                <li>Prepares and provides content and materials for workshop delivery.</li>
                <li>Coordinates with PEC to allow a host do welcome, intros, house keeping. </li>
                <li>Cleans up after class</li>
                <li>Provides a summary for a feedback loop to PEC team: number of attendees, lessons learned, and other pertinent info</li>
            </ul>
        </p>
        <div class="block-items block-items-text">
            <p>
                <span class="blue"><a href="{% url 'teacher-proposal' %}">Continue to Proposal</a></span>
            </p>
            <p>
                <span class="blue"><a href="{% url 'teacher-criteria' %}">Back to Criteria</a></span>
            </p>
        </div>
    </div>
</div>
{% endblock education-content %}
