{% extends "maps/category_map_list.html" %}
{% load custom_markdown %}

{% block map-list-data %}
    <p>Data Block!</p>
    <script type="text/javascript">
        var plants = [];
        {% for plant in plants %}
            plants.push(
                {
                    'coordinates': 
                        { 
                            lat: {{ plant.geo_location.latitude | default:"0" }}, 
                            lng: {{ plant.geo_location.longitude | default:"0" }}
                        },
                    'name': '{{ plant.name | escapejs}}',
                    'friendly_name': '{{ plant.friendly_name | escapejs}}',
                    'latin_name': '{{ plant.latin_name | escapejs }}',
                    'content': '{{ plant.text | parse_markdown | escapejs }}',
                    'year_planted': '{{ plant.year_planted | escapejs}}',
                    'site_code': '{{ plant.site_code | escapejs}}',
                    'url': '{% url "plants-detail" plant.url_slug  %}',
                    'location': '{{ plant.geo_location | escapejs }}',
                }
            );      
        {% endfor %}
    </script>

{% endblock map-list-data %}
