{% extends "base/app-page-content.html" %} 
{% load staticfiles %}

{% block add-css %}
	<link rel="stylesheet" type="text/css" href="{% static "maps/css/map.css" %}">
{% endblock add-css %}

{% block app-title %}Maps
	{% if kml.name %}
		| {{kml.name}}
	{% endif %}
{% endblock app-title %}

{% block sub-page-class %}app map{% endblock sub-page-class %}
{% block app-content %}
	<script language="javascript">
		// provides map javascript with location to grab fruit icon files
		var STATIC_URL = "{{ STATIC_URL }}";
		// provides map javascript the location of the kml file to parse
		var KML_FILE = "{{kml.kml.url}}";	
	</script>
	<div id="map-canvas"></div>
	<div id="the_side_bar"></div>
	<button class="btn btn-primary sidebar-button open_button"><i class="fa fa-list" aria-hidden="true"></i> LIST</button>
	<button class="btn btn-secondary sidebar-button close_button"><i class="fa fa-close" aria-hidden="true"></i></button>
{% endblock app-content %}

{% block add-to-footer %}
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/loglevel/1.3.0/loglevel.min.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsnOLu3eLbo60hkQNWo-3EEt102mOv99w"></script>
	<script type="text/javascript" src="{% static "maps/js/geoxmlfull_v3.js" %}"></script>
	<script type="text/javascript" src="{% static "maps/js/map.js" %}"></script>
{% endblock add-to-footer %}

