{% extends "infopages/infopage-content.html" %}
{% block header %}{% include "base/header.html" with h1="Code of Conduct" %}{% endblock header %}

{% block info-content %}
<div id="content2-perma" class="first-content-div">
    <h2 class="content-title">{% block title %}Code of Conduct{% endblock title %}</h2>

    <div class="content-div">
        <p>At the Beacon Food Forest​, we strive to actively create an inclusive and compassionate community. <br/><br/>
        By joining any of our classes, gatherings or events, you agree to help maintain a ​safe and welcoming space for all​, ​by adhering to the P-Patch Code of Conduct.<br/><br/>
        <i>Discriminatory or threatening behaviors can be reported to the work party leader or class facilitator</i>, or directly to our board at <a href="mailto:board@beaconfoodforest.org">board@beaconfoodforest.org</a>.<br><br>
        The Beacon Food Forest is committed to fostering equity, understanding and kindness throughout our community and the world.
        </p>
    </div>
</div>
{% endblock info-content %}