{% extends "infopages/infopage-content.html" %}
{% block header %}{% include "base/header.html" with h1="Conflict Resolution" %}{% endblock header %}

{% block info-content %}

<h2>Food Forest Collective</h2>
<h3>Internal Conflict Resolution Policy</h3>

<p>Conflict Resolution Norms:</p>
<ul>
    <li>Assume positive intent.</li>
    <li>Own your impact. </li>
    <li>Express your feelings and needs with &ldquo;I&rdquo; statements only. </li>
    <li>Stay vulnerable. </li>
    <li>Focus on the issue and actions. Do not comment on each other&rsquo;s identity. </li>
    <li>Speak impeccably -- mean what you say and say what you mean. </li>
    <li>Commit wholeheartedly to mutual reconciliation.</li>
</ul>
<p>First, try to resolve the conflict between yourself and the other person. </p>
<ol>
    <li>Communication: Can you resolve the issue by talking it out? </li>
    <ol style="list-style-type: lower-alpha; padding-bottom: 0;">   
        <li>First, take some time to reflect. </li>
        <li>What was&nbsp;your need&nbsp;in the situation? How could it have been addressed?</li>
        <li>Next, in turns, express&nbsp;your needs to each other. Share with each other how your needs could have been met. </li>
    </ol>
    
    <li>Concession: How can you both meet each other&rsquo;s needs?</li>
    <ol style="list-style-type: lower-alpha; padding-bottom: 0;">
        <li>Concession is not compromise. How can the two of you work together to meet each other&rsquo;s needs in the future?</li>
        <li>Choose a fair solution&nbsp;for both parties. </li>
    </ol>

    <li>Consolidation</li>
    <ol style="list-style-type: lower-alpha; padding-bottom: 0;">
        <li>Shake on your solution. (You may also perform some other form of salutation together that is culturally appropriate if handshaking is inappropriate for you.) </li>
        <li>Commit to holding each other accountable. </li>
        <li>Stay open&nbsp;and vulnerable&nbsp;enough with each other to accept each other&rsquo;s feedback. </li>
    </ol>
</ol>
<p></p>
<p>If you cannot resolve the issue yourselves, ask for a mediator. There is a designated Food Forest leader who can act as a mediator at every event. The mediator will walk you through the steps of reconciliation together. Your conflict and resolution steps will be documented. </p>
<p></p>
<p>If you cannot resolve your issue with a Food Forest mediator, the issue will be escalated to Seattle P-patch leaders, who will walk you through further steps of reconciliation. </p>
<p>If a Food Forest community member commits egregiously offensive acts, including, but not limited to hate speech, discriminatory behavior, or physical aggression or violence, a probationary period may be considered to protect the sacred and safe space of the Food Forest. </p>
{% endblock info-content %}
