{% extends "infopages/infopage-content.html" %}
{% block header %}{% include "base/header.html" with h1="Conflict Resolution" %}{% endblock header %}

{% block info-content %}

<p class="c6"><span class="c0">Food Forest Collective</span></p>
<p class="c6"><span class="c2 c9">Internal Conflict Resolution Policy</span></p>
<p class="c3"><span class="c0"></span></p>
<p class="c6"><span class="c1">Event protocol (i.e., how to deal with immediate conflict at an event or work party) </span></p>
<p class="c3"><span class="c1"></span></p>
<p class="c6"><span class="c1">Post to the entire community on the Beacon Food Forest website. </span></p>
<p class="c3"><span class="c1"></span></p>
<p class="c6"><span class="c1">This work must be complete by September 30, 2018 </span></p>
<p class="c3"><span class="c0"></span></p>
<p class="c6"><span class="c0">Conflict Resolution Norms: </span></p>
<ul class="c4 lst-kix_q5tiaeyr2gfv-0 start">
    <li class="c6 c7"><span class="c0">Assume positive intent. </span></li>
    <li class="c6 c7"><span class="c0">Own your impact. </span></li>
    <li class="c6 c7"><span class="c0">Express your feelings and needs with &ldquo;I&rdquo; statements only. </span></li>
    <li class="c6 c7"><span class="c0">Stay vulnerable. </span></li>
    <li class="c6 c7"><span class="c0">Focus on the issue and actions. Do not comment on each other&rsquo;s identity. </span></li>
    <li class="c6 c7"><span class="c0">Speak impeccably -- mean what you say and say what you mean. </span></li>
    <li class="c6 c7"><span class="c0">Commit wholeheartedly to mutual reconciliation.</span></li>
</ul>
<p class="c3"><span class="c0"></span></p>
<p class="c6"><span class="c0">First, try to resolve the conflict between yourself and the other person. </span></p>
<ol class="c4 lst-kix_482o9tn0n09g-0 start" start="1">
    <li class="c6 c7"><span class="c0">Communication: Can you resolve the issue by talking it out? </span></li>
</ol>
<ol class="c4 lst-kix_482o9tn0n09g-1 start" start="1">
    <li class="c5"><span>First, take some time to </span><span class="c2">reflect</span><span class="c0">. </span></li>
</ol>
<ol class="c4 lst-kix_482o9tn0n09g-2 start" start="1">
    <li class="c6 c10"><span>What was</span><span>&nbsp;your </span><span class="c2">need</span><span class="c0">&nbsp;in the situation? How could it have been addressed?</span></li>
</ol>
<ol class="c4 lst-kix_482o9tn0n09g-1" start="2">
    <li class="c5"><span>Next, in turns, </span><span class="c2">express</span><span class="c0">&nbsp;your needs to each other. Share with each other how your needs could have been met. </span></li>
</ol>
<ol class="c4 lst-kix_482o9tn0n09g-0" start="2">
    <li class="c6 c7"><span class="c0">Concession: How can you both meet each other&rsquo;s needs?</span></li>
</ol>
<ol class="c4 lst-kix_482o9tn0n09g-1 start" start="1">
    <li class="c5"><span>Concession is </span><span class="c2">not </span><span class="c0">compromise. How can the two of you work together to meet each other&rsquo;s needs in the future?</span></li>
    <li class="c5"><span>Choose a </span><span class="c2">fair solution</span><span class="c0">&nbsp;for both parties. </span></li>
</ol>
<ol class="c4 lst-kix_482o9tn0n09g-0" start="3">
    <li class="c6 c7"><span class="c0">Consolidation: </span></li>
</ol>
<ol class="c4 lst-kix_482o9tn0n09g-1 start" start="1">
    <li class="c5"><span class="c0">Shake on your solution. (You may also perform some other form of salutation together that is culturally appropriate if handshaking is inappropriate for you.) </span></li>
    <li class="c5"><span class="c0">Commit to holding each other accountable. </span></li>
    <li class="c5"><span>Stay </span><span class="c2">open</span><span>&nbsp;and </span><span class="c2">vulnerable</span><span class="c0">&nbsp;enough with each other to accept each other&rsquo;s feedback. </span></li>
</ol>
<p class="c3"><span class="c0"></span></p>
<p class="c6"><span class="c0">If you cannot resolve the issue yourselves, ask for a mediator. There is a designated Food Forest leader who can act as a mediator at every event. The mediator will walk you through the steps of reconciliation together. Your conflict and resolution steps will be documented. </span></p>
<p class="c3"><span class="c0"></span></p>
<p class="c6"><span class="c0">If you cannot resolve your issue with a Food Forest mediator, the issue will be escalated to Seattle P-patch leaders, who will walk you through further steps of reconciliation. </span></p>
<p class="c6"><span class="c0">If a Food Forest community member commits egregiously offensive acts, including, but not limited to hate speech, discriminatory behavior, or physical aggression or violence, a probationary period may be considered to protect the sacred and safe space of the Food Forest. </span></p>
{% endblock info-content %}
