{% extends "base/app-page-content.html" %}
{% load staticfiles %}
{% block title %}How to Get Involved{% endblock title %}
{% block header %}{% include "base/header.html" with h1="How to Get Involved" %}{% endblock header %}
{% block app-content %}
<div class="content-div container-fluid get-involved">
    <div class="row">
        <h2>Help from afar</h2>
        <div class="col-md-4 col-sm-6 text-center">
            <div><img src="{% static 'base/svg/donation.svg' %}" alt="Link to donate money"></div>
            <h3>
                <span class="blue"><a href="#" onclick="center_popup_open('donate')">Donate Money</a></span>
            </h3>
            <p>{% lorem 30 w %}</p>
        </div>
        <div class="col-md-4 col-sm-6 text-center">
            <p><img src="{% static "base/svg/newspaper.svg" %}" alt="Link to signup for newsletter"></p>
            <h3>Newsletter</h3>
            <p>{% lorem 40 w %}</p>
        </div>
        <div class="col-md-4 col-sm-6 text-center">
            <p><img src="{% static "base/svg/dialogue.svg" %}" alt="Link to Beacon Food Forest Facebook page"></p>
            <h3>Facebook</h3>
            <p>{% lorem 30 w %}</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <h2>Get your hands dirty</h2>
        <div class="col-md-4 col-sm-6 text-center">
            <p><img src="{% static 'base/svg/shovel.svg' %}" alt="Link to information on work parties"></p>
            <h3>Work Party</h3>
            <p>{% lorem 30 w %}</p>
        </div>
        <div class="col-md-4 col-sm-6 text-center">
            <p><img src="{% static "base/svg/ecology.svg" %}" alt="Link to information on other events"></p>
            <h3>Other activities</h3>
            <p>{% lorem 30 w %}</p>
        </div>
        <a href="http://www.seattle.gov/neighborhoods/ppatch/signupPpatch.htm">
            <div class="col-md-4 col-sm-6 text-center">
                <p><img src="{% static "base/svg/sprout.svg" %}" alt="Link to sign up for a p-patch"></p>
                <h3>Sign Up for a P-Patch</h3>
                <p>{% lorem 30 w %}</p>
            </div>
        </a>
    </div>
    <hr>
    <div class="row">
        <h2>Get even more involved</h2>
        <div class="col-md-4 col-sm-6 text-center">
            <p><img src="{% static "base/svg/directions.svg" %}" alt="Link to information on attending a new volunteer orientation"></p>
            <h3>Attend an orientation</h3>
            <p>{% lorem 30 w %}</p>
        </div>
        <div class="col-md-4 col-sm-6 text-center">
            <p><img src="{% static 'base/svg/connections.svg' %}" alt="Button to email the volunteer coordinator"></p>
            <h3>Email the volunteer coordinator</h3>
            <p>{% lorem 30 w %}</p>
        </div>
        <div class="col-md-4 col-sm-6 text-center">
            <p><img src="{% static 'base/svg/watercolor.svg' %}" alt="Email the art coordinator for proposals"></p>
            <h3>Art projects</h3>
            <p>{% lorem 30 w %}</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <h2>Get your fellow humans involved</h2>
        <div class="col-md-4 col-sm-6 text-center">
            <p><img src="{% static "base/svg/group.svg" %}" alt="Email the group coordinator to setup group events"></p>
            <h3>Setup a group work party</h3>
            <p>{% lorem 30 w %}</p>
        </div>
        <div class="col-md-4 col-sm-6 text-center">
            <p><img src="{% static "base/svg/map.svg" %}" alt="Schedule a toor with the tour coordinator"></p>
            <h3>Tour</h3>
            <p>{% lorem 30 w %}</p>
        </div>
    </div>
</div>
{% endblock app-content %}

{% block footer %}
    {% include "base/footer.html" with imprint="base/imprint_with_icons.html" %}
{% endblock footer %}