{% extends "infopages/infopage-content.html" %}
{% load staticfiles %}
{% block info-content %}

<div class="content-div container-fluid get-involved">
    <h2 class="row text-center">{% block info-title %}How to get Involved{% endblock info-title %}</h2>
    <div class="row">
        <h2>Help from afar</h2>
        <div class="col-md-4 col-sm-6 text-center">
            <div><img src="{% static 'base/svg/donation.svg' %}" alt="Link to donate money"></div>
            <h3>
                <span class="blue"><a href="#" onclick="center_popup_open('donate')">Donate Money</a></span>
            </h3>
            <p>{% lorem 30 w %}</p>
        </div>
        <div class="col-md-4 col-sm-6 text-center">
            <p><img src="{% static "base/svg/newspaper.svg" %}" alt="Link to signup for newsletter"></p>
            <p>Newsletter</p>
            <p>{% lorem 30 w %}</p>
        </div>
        <div class="col-md-4 col-sm-6 text-center">
            <p><img src="{% static "base/svg/dialogue.svg" %}" alt="Link to Beacon Food Forest Facebook page"></p>
            <p>Facebook</p>
            <p>{% lorem 30 w %}</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <h2>Get your hands dirty</h2>
        <div class="col-md-6 text-center">
            <p><img src="{% static 'base/svg/shovel.svg' %}" alt="Link to information on work parties"></p>
            <p>Work Party</p>
        </div>
        <div class="col-md-6 text-center">
            <p><img src="{% static "base/svg/ecology.svg" %}" alt="Link to information on other events"></p>
            <p>Other activities</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <h2>Get even more involved</h2>
        <div class="col-md-4 text-center">
            <p><img src="{% static "base/svg/directions.svg" %}" alt="Link to information on attending a new volunteer orientation"></p>
            <p>Attend an orientation</p>
        </div>
        <div class="col-md-4 text-center">
            <p><img src="{% static 'base/svg/connections.svg' %}" alt="Button to email the volunteer coordinator"></p>
            <p>Email the volunteer coordinator</p>
        </div>
        <div class="col-md-4 text-center">
            <p><img src="{% static 'base/svg/watercolor.svg' %}" alt="Email the art coordinator for proposals"></p>
            <p>Art projects</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <h2>Get your fellow humans involved</h2>
        <div class="col-md-6 text-center">
            <p><img src="{% static "base/svg/group.svg" %}" alt="Email the group coordinator to setup group events"></p>
            <p>Setup a group work party</p>
        </div>
        <div class="col-md-6 text-center">
            <p><img src="{% static "base/svg/map.svg" %}" alt="Schedule a toor with the tour coordinator"></p>
            <p>Tour</p>
        </div>
    </div>
</div>
{% endblock info-content %}

{% block footer %}
    {% include "base/footer.html" with imprint="base/imprint_with_icons.html" %}
{% endblock footer %}