/************ BEGIN CSS RESET ***************/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, 
pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, 
strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, 
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, 
canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, 
section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
nav ul {
    list-style: none;
}
/*Bootstrap Override*/
h1 {
    font-weight: bold;
    color: #fff;
    font-size: 2em;
    font-family: Verdana, Geneva, sans-serif;
}
h2 {
    font-size: 150%;
    color: #A5978D;
    font-family: Verdana, Geneva, sans-serif;
}
h3 {
    font-weight: bold;
    color: #4C301C;
}
.btn-primary {
    background-color: #0DAED3;
    font-weight: 900;
}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}
input, select {
    vertical-align: middle;
}
/************ END RESET ***************/



/*Box Sizing*/
html {
    box-sizing: border-box;
}
/*Fix for choppy iOS scrolling*/
* {
  -webkit-overflow-scrolling: touch;
}
*, *:before, *:after {
    box-sizing: inherit;
}
/*END Box Sizing*/



html, body {
    padding: 0;
    height: 100%;
    width:100%;
    overflow-x:hidden;
}
body {
    font-size: 100%;
    font-family: "Helvetica";
}
p {
    color: #4C301C;
    font-size: 100%;
    font-family: "helvetica";
    line-height: 1.15em;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin-top: 1em;
}
q {
    display: inline;
}
q:before {
    content: open-quote;
}
q:after {
    content: close-quote;
}
.float-right {
    float: right;
}
.block-center {
  margin: 0 auto;
}




/*App pages (education, plants etc)*/
.app-asset-title {
    font-size: 2em;
    margin-top: 0.3em;
}
.app-content .spacer-div {
    width: 380px;
    height: 230px;
}
#main.app {
    background-image: none;
}
.app .botnav {
    /*margin: 0 0 0 0;*/
    border-right: none;
}
.crop {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.crop img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%); 
    width: 101%;  
}
.crop:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}
.image-grid-link {
    position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  z-index: 30;
}






/*Taken from Zurb/Foundation event blocks for Education */
.event {
  position: absolute;
  bottom: 0;
  padding: 1em 1em 0 1em;
  z-index: 20;
  display: table; 
  color: white;
  font-size: 1em;}
    .event a {
        text-transform: none;
        color: inherit;
    }
    .event-date {
      width: 6em;
      margin: 0 auto 1em;}
      .event-date .event-month {
        margin: 0;
        background: #eee;
        padding: 0.2em 0;
        text-align: center; 
        font-size: 1.5em;}
      .event-date .event-day {
        margin: 0;
        border: 2px solid #eee;
        text-align: center;
        font-size: 2em; 
        color: white;}
    .event-desc {
        padding: 0 0 0.7em 0.7em;
        margin: 0 0 1em 0;
        text-align: left;
        display: table-cell;
        vertical-align: top; }
      .event-desc .event-desc-header {
        margin: 0.5em 0;
        padding: 0;
        font-size: 1.3em;
        color: white;  
        font-weight: bold;}
      .event-desc.event-listpage{
        vertical-align: bottom;
      }
      .event-desc .rsvp.btn {
        margin: 0; 
        font-size: inherit;
        text-transform: uppercase;
        z-index: 40;}





/*IMage grid styles*/
.image-grid {
    margin-bottom: 30px;}
    .image-grid .crop {
        height: 150px;}
    .image-grid .event {
        font-size: 0.8em;}

.thank-you-splash h2 {
    font-size: 400%;
    margin-left: 5%;
}
.thank-you-splash p {
    margin-left: 10%;
    margin-right: 15%;
}
.thank-you-splash .notification {
    font-size: 80%;
    font-style: italic;
    margin-top: 10%;
    color: blue;
}
.text-bold {
    font-weight: bold;
    color: #4C301C;
    font-size: 1.02em;
}
.text-green {
    color: #50B748;
}



a {
    color: #0DAED3;
    font-weight: bold;
}

/*  Bold & Uppercase  */

.nav a, .nav a:link, .nav a:visited, .nav a:hover, .nav a:active {
    color: #4C301C;
    font-size: 100%;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px 30px 0 0;
    vertical-align: middle;
}
/*  Normal & Underlined */

.container .link a, .container .link a:link, .container .link a:visited, .container .link a:hover, .container .link a:active {
    color: #4C301C;
    font-size: 100%;
    font-weight: normal;
    text-decoration: underline;
    text-transform: none;
    padding: 0px 0 0 0;
}

/*  Bold & Underline */

.container .heavy a, .container .heavy a:link, .container .heavy a:visited, .container .heavy a:hover, .container .heavy a:active {
    color: #4C301C;
    font-size: 100%;
    font-weight: bold;
    text-decoration: underline;
    text-transform: none;
    padding: 0px 0 0 0;
}
/* Bold & Blue */

.container .blue a, .container .blue a:link, .container .blue a:visited, .container .blue a:hover, .container .blue a:active {
    color: #0DAED3;
    font-size: 100%;
    font-weight: bold;
    text-decoration: none;
    text-transform: none;
    padding: 0px 0 0 0;
}
.blue a, .blue a:link, .blue a:visited, .blue a:hover, .blue a:active {
    color: #0DAED3;
    font-size: 100%;
    font-weight: bold;
    text-decoration: none;
    text-transform: none;
    padding: 0px 0 0 0;
}
.upperlink a, .upperlink a:link, .upperlink a:visited, .upperlink a:hover, .upperlink a:active {
    color: #4C301C;
    font-size: 100%;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 0 0 0;
}



/* Static anchor for content-title */
h2.content-title {
    margin: 1em 0 1em 0;
}


.content-title a, .content-title a:link, .content-title a:visited, .content-title a:hover, .content-title a:active {
    color: #A5978D;
    font-size: 200%;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    padding: 0px 0 0 0;
}
/* //////   END - Global text styles ////// */

#fade {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}

/* Actual pop ups */

/*.center-popup {
    /* IE 9 */

    -webkit-transform: translate(-50%, -50%);
    /* Chrome, Safari, Opera */

    -ms-transform: translate(-50%, -50%);

        transform: translate(-50%, -50%);

    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            -ms-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
}*/
input[type=text] {
    width: 65%;
}
#mailList {
    display: none;
    position: fixed;
    max-width: 400px;
    max-height: 220px;
    min-height: 210px;
    height: 25%;
    background: #FFF;
    z-index: 1002;
    overflow: visible;
    padding: 0px 5px 0px 20px;
    border: 10px #50B748 solid;
    top: 20%;
    width: 90%;
}
/*Directions popup*/

#event1, #event2, #event3 {
    display: none;
    position: fixed;
    max-width: 1000px;
    max-height: 728px;
    background: #FFF;
    z-index: 1002;
    overflow: scroll;
    padding: 0px 15px 0px 15px;
    border: 10px #50B748 solid;
    top: 7%;
    width: 90%;
    height: 88%;
}


#directions {
    display: none;
    position: fixed;
    max-width: 1000px;
    max-height: 728px;
    background: #FFF;
    z-index: 1002;
    overflow: scroll;
    padding: 10px 15px 0px 15px;
    border: 10px #50B748 solid;
    top: 7%;
    width: 90%;
    height: 88%;
}
@media only screen and (max-width: 525px) {
    .directions-content .directions-img {
        width: 100%;
        padding-bottom: 15px;
    }
    .directions-content .directions-img img {
        width: 100%;
    }
}
@media only screen and (min-width: 526px) {
    .directions-content .directions-img {
        padding-left: 10px;
        padding-bottom: 10px;
    }
}
h4 {
    font-family: Helvetica;
    margin-top: 10px;
    margin-bottom: 10px;
}
.social-locations a {
    display: inline-block;
    padding: 0px;
}
div#directions h3.content-title {
    margin-bottom: 0.6em;
}
div#directions p {
    margin-left: 10px;
}
/*End Directions popup*/

/*For responsive Calendar*/
.responsive-iframe-container {
    background: #FFF;
    z-index: 1002;
    position: fixed;
    overflow: hidden;
    border: 10px #50B748 solid;
}

.responsive-iframe-container iframe, 
.vresponsive-iframe-container object, 
.vresponsive-iframe-container embed {
    width: 100%;
    height: 97%;
}
/*End responsive calendar*/

/*Controls the placement of the popups for donations, mailing list, etc*/
.center-popup {
    /* IE 9 */
    -webkit-transform: translate(-50%, -50%);
    /* Chrome, Safari, Opera */
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            -ms-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
}

#calendar {
    display: none;
    top: 10%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    height: 88%;
    max-height: 650px;
    width: 90%;
}

/*Donate Form Begin*/
#donate {
    height: 88%;
    max-height: 570px;
    width: 90%;
    overflow: scroll;
}
#materials-donation {
    height: 94%;
    max-height: 520px;
    width: 90%;
    max-width: 500px;
    overflow: scroll;
}
#materials-donation form{
    margin-top: 10px;
}
#materials-donation label{
    margin: 0 0 3px 0;
    display: block;
}
#materials-donation img {
    display: block;
    float: left;
}
#materials-donation #id_donation_description {
    margin: 0 0 10px 0;
}
#materials-donation #id_donation_captcha_1 {
    height: 25px;
}

.donateform {
    display: none;
    position: fixed;
    top: 5%;
    max-width: 600px;
    background: #FFF;
    z-index: 1002;
    overflow: auto;
    padding: 15px 15px 0px 15px;
    border: 10px #50B748 solid;
}
.donateform label {
    color: #4C301C;
    font-family: "helvetica";
}
.donateform input.full-width {
    width: 100%;
}
.donateform input, .donateform select {
    height: 30px;
    margin: 0px 0px 5px 0px;
    padding: 0 0 0 5px;
    color: #4C301C;
    font-family: "helvetica";
    vertical-align: inherit;
    border: 1px dotted #333333;
}
.donateform label select {
    width: 100%;
    height: 30px;
    font-size: 12px;
    font-height: 18px;
    color: #4C301C;
    font-family: "helvetica";
}
.donateform textarea {
    width: 100%;
    height: 100px;
    color: #4C301C;
    font-family: "helvetica";
    resize: none;
    padding: 4px;
}
.donateform h2.content-title {
    margin-top: 0;
}
.donateform .submit-button {
    width: 100%;
    font-size: 100%;
}


.donate-help {
    border: 1px dashed;
    padding: 12px;
    margin: 15px 0 5px 0;
    color: rgb(42, 0, 155);

}
.donate-help p{
    margin: 0px;
}
.donate-help strong {
    color: #FF4040;
}
.donate-help-image {
    margin-top: 15px;
}
.fit-width {
    width: 100%;
}
@media screen and (max-width: 650px) {
    .donate-help {
        font-size: smaller;
    }
    .donate-help img {
        width: 340px;
    }
}
@media screen and (max-width: 450px) {
    #donate, #materials-donation {
        font-size: smaller;
    }
    .donate-help {
        font-size: smaller;
        border: none;
        padding: 0;
    }
    .donate-help img {
        width: 250px;
    }
}


/*Donate Form End*/



/* Vimeo Video*/
.vimeo-video {
    display: none;
    position: fixed;
    top: 10%;
    background: #FFF;
    z-index: 1002;
    overflow: visible;
    border: 10px #50B748 solid;
    width: 90%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
}
.vimeo-video p {
    max-height: 500px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
a.no-padding-link {
    padding: 0;
}
.embed-container {
    position: relative;
    padding-bottom: 58.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}
.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media screen and (device-aspect-ratio: 16/9) {
    div.vimeo-video {
        width: 50%;
        top: 3%;
    }
}
@media all and (orientation: landscape) {
    div.vimeo-video {
        width: 60%;
        top: 3%;
    }
}
/*End Vimeo Video*/

#translate {
    display: none;
    top: 15%;
    bottom: 55%;
    right: 5px;
    width: 90%;
    max-width: 400px;
    min-height: 220px;
    height: auto;
    padding: 20px 15px 0px 20px;
}
#trans_left {
    float: left;
}
#trans_right {
    float: right;
    padding: 0 10px 0 0;
}
#trans_right span {
    color: #4C301C;
    font-size: 12px;
    text-align: right;
    font-family: "helvetica";
    text-decoration: none;
}
#fade p {
    color: #4C301C;
    font-size: 12px;
    font-family: "helvetica";
}
body {
    background: #fff;
    z-index: -3;
}






/*************** HEADER *****************/
header {
    height: 260px;
    margin-bottom: 3em;
}
#header {
    width: 100%;
    height: 225px;
    padding: 0px 0px;
    top: 30px;
    position: absolute;
    z-index: 5;
}
#title {
    float: left;
    position: relative;
    text-align: left;
    margin: 20px 0 30px 190px;
    left: 0px;
    width: 425px;
    z-index: 3;
    height: 160px;
}
@media only screen and (max-width: 560px) {
    #header {
        top: 20px;
    }
    header {
        height: 246px;
        margin-bottom: 1.2em;
    }
}
/*************** END HEADER *****************/







/**************** Footer **************/
footer {
    width: 100%;
    position: relative;
    clear: both;
    bottom: 0;
    height: 30px;
    background-color: #fff;
    /*margin: 0 0px 0 -1px;*/
    z-index: 10;
}
footer p {
    margin: 5px 0 0 10px;
}
footer.link a, footer.link a:link, footer.link a:visited, footer.link a:hover, footer.link a:active {
    color: #4C301C;
    font-size: 100%;
    font-weight: normal;
    text-decoration: underline;
    text-transform: none;
    padding: 0px 0 0 0;
}
footer .copyright {
    font-size: 80%;
}
.home .botnav {
    margin: 0 210px 0 0px;
    border-right: 10px #50B748 solid;
}
.botnav {
    height: auto;
    background-color: #4C301C;
    padding: 8px 0 0 25px;
}
.botnav a, .botnav a:link, .botnav a:visited, .botnav a:hover, .botnav a:active {
    vertical-align: middle;
    color: #fff;
    font-size: 100%;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
}
@media only screen and (max-width: 949px) {
    .home .botnav {
        margin: 0 150px 0 0;
    }
}
@media only screen and (max-width: 750px) {
    footer {
        padding: 0px;
    }
    .botnav {
        margin: 0px;
        border: none;
    }
    .home .botnav {
        margin: 0;
        border-right: none;

    }
}
@media only screen and (max-width: 560px) {
    .botnav {
        width: 100%;
        margin: 0;
        border: 0;
    }
    .botnav a {
        width: 90%;
        text-align: center;
        padding: 15px;
    }
}
/**************** END Footer **************/







#brown-bg {
    background-color: #4C301C;
    height: 225px;
    width: 100%;
    position: absolute;
    top: 31px;
    z-index: -4;
}
.background-nut { 
    background: url("../../base/img/nut.png") no-repeat scroll right top transparent;
    position: absolute;
    top: 30px;
    right: 0px;
    width: 26.4em;
    height: 461px;
    font-size: 100%;
    background-size: 27.7em;
}
/*Reduce size of nut image on list pages*/
.app .background-nut {
    font-size: 62%;
}
.app.map .background-nut {
    font-size: 50%;
}
.app .spacer-div {
    display: none;
}
.app table>tbody>tr>td {
    padding: 1px 2px 1px 2px;
}

.banner-img {
    width: 155px;
    height: 255px;
    position: absolute;
    margin: -15px 15px 0 15px;
    z-index: 3;
}
.banner-img img {
    width: 100%;
}










/*Navigation Menu*/
.nav {
    width: 95%;
    height: 24px;
    background-color: #0DAED3;
    float: right;
    text-align: right;
    margin: 8px 0 0 0;
    padding-top: 4px;
}
.nav a {
    z-index: 10;
    position: relative;
}
.nav ul {
    list-style: none;
}
#menu li {
    display: inline-block;
}
.slicknav_menu {
    display:none;
}

@media screen and (max-width: 1125px) {
    /* #menu is the original menu */
    #menu {
        display:none;
    }

    .slicknav_menu {
        display:block;
    }
}
/*END Navigation menu*/










/*Social links*/
.social-desktop {
    float: right;
    margin-top: 0.6em;
}
.social-desktop a {
    color: white;
    font-size: 2.2em;
    margin-right: 0.2em;
}
.social-mobile {
    color: #4C301C;
    font-size: 1.7em;
    display: none;
    margin-right: 0.3em;
}
.social-mobile a {
    display: block;
    margin-left: 0.2em;
}
/*End Social links*/











/************** How to get involved page***********/
.get-involved img {
    width: 80%;
    margin: 0 auto;
    max-width: 150px;
    display: block;
}
.get-involved hr {
    height: 2px;
    background: #4c301c;
    margin: 3em 0 2em 0;
}
.get-involved h2 {
    font-size: 2.2em;
    margin: 0 0 0.9em 0.4em;
    color: #4c301c;
    font-weight: bold;
}
@media only screen and (max-width: 560px) {
    .get-involved h2 {
        font-size: 1.4em;
    }
}
.get-involved a {
    display: block;
    padding: 1em;
}
.get-involved a:hover {
    background-color: #f6fcff;
    text-decoration: none;
}
/************ END How to get involved page ******************/









#main {
    background-image: url('../../base/img/bg.png');
    background-repeat: no-repeat;
    background-position: top right;
    width: 100%;
    height: auto;
    position: absolute;
    padding: 8px 0px 0 0;
    z-index: 1;
}
.top-text {
    color: #4C301C;
    font-family: "helvetica";
    font-size: 14px;
    position: relative;
    z-index: 1;
    padding: 11px 35px 0 0;
    margin: -10px auto;
}
.top-text a:hover, .top-text a:visited, .top-text a:active, .top-text a:link {
    color: #4C301C;
    font-family: "helvetica";
    float: right;
    position: relative;
    z-index: 1;
}


h2.subtitle-text {
    color: #ee3a43;
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: bold;
    font-family: "Lucida Grande";
    bottom: 0px;
    position: absolute;
}
/*
////// This holds the content, the images, and the sidebar */

.container {
    width: 100%;
    z-index: 0;
    position: relative;
    min-height: 1500px;
}
.shortpage-container {
    min-height: 37em;
}
.spacer-div {
    float:right;
    width: 220px;
    height: 210px;
}

/* Front page content (left) */

.main-content {
    margin-right: 152px;
}
.sub-page-content {
    margin-right: 150px;
}
.main-content {
    overflow: hidden;
    padding: 0px 60px 0 33px;
}
.content-block {
    margin-bottom: 30px;
}
#content {
    height: auto;
    float: left;
    z-index: 3;
    width: 100%;
}
.long-content {
    min-height: 1950px;
}
.shorttext {
    width: 460px;
}
.content-div h3 {
    margin: 2em 0 0.7em 0;
    font-size: 110%;
}
.single-content-image {
    max-width: 100%;
}
.link-table {
    border-collapse: separate;
    border-spacing: 20px 0px;
    margin: 0px 0 40px -20px;
}
.link-table td {
    width: 250px;
}
.section-div {
    margin: 0 0 5% 0;
}
.block-items {
    margin: 1em 0 0 0;
}
.block-items p {
    display: inline-block;
}
.block-items-text p {
    width: 220px;
    height: auto;
    margin: 0.5em 1em 0.5em 1em;
    vertical-align: top;
}
.content-text {
    margin-bottom: 0;
}
.content-div {
    margin: 0 30px 2em 0;
}
.content-div ol li, .content-div ul li {
    margin: 0.45em 1em 0.45em 4em;
}
#contact-info p {
    width: 260px;
    height: auto;
    margin: 1% 1% 2% 1%;
    vertical-align: top;
}



/*Permaculture Principles table*/
.perma-table {
    height: auto;
    border-color: #A5978D;
    border-spacing: 0;
    margin: 0px 0 0 5px;
    border-collapse: collapse;
    border-top: 0;
}
.perma-table td, .perma-table th {
    width: 50%;
    height: auto;
    color: #4C301C;
    font-size: 12px;
    font-family: "helvetica";
    padding: 10px 10px;
    margin: 0 0 -1px -1px;
    vertical-align: top;
    border: 1px solid #A5978D;
}
.perma-table th:first-child {
  border-top: 0;
}
.perma-table tr:first-child th {
  border-top: 0;
}
.perma-table tr:last-child td {
  border-bottom: 0;
}
.perma-table tr td:first-child,
.perma-table tr th:first-child {
  border-left: 0;
}
.perma-table tr td:last-child,
.perma-table tr th:last-child {
  border-right: 0;
}
/*END Permaculture Principles table */


.regular {
    margin: 0px 10px 0px 0;
}
.img-follow {
    margin: 580px 10px 0 0;
}
.negspace {
    margin: 410px 10px 0 0;
    position: relative;
}
/* Events, workparties, etc */

#sidecontent {
    width: 220px;
    height: 100%;
    border-left: 10px solid #50B748;
    padding-left: 20px;
    float: right;
}
#imgcontent {
    width: 220px;
    padding-left: 8px;
    float: left;
}
.right-column {
    overflow: hidden;
    float: right;
    position: absolute;
    right: 0px;
    top: 242px;
    bottom: 0px;
}
.sideblock ul{
    list-style: none;
}
.sideblock li {
    margin: 10px 10px 10px 0px;
}

.sidetitle {
    font-size: 19px;
    color: #7AC143;
    line-height: 100%;
    vertical-align: top;
    font-weight: normal;
}
/* This only appears once */

.sponsor {
    font-size: 19px;
    color: #4C301C;
    line-height: 1.3em;
    position: absolute;
    bottom: 20px;
    padding-bottom: 10px;
}
.sponsor img {
    display: block;
    border: 0;
    margin-top: 10px;
    width: 92%;
}
.sponsorlh10 {
    margin-bottom: 13px;
}
/* Bottom Navigation Bar */






/* //////Extras */

span.blue a {
    font-size: 150%;
}
#translate-this {
    z-index: 10;
}
.imageBar {
    float: right;
    display: inline-block;
    max-width: 220px;
    width: 27%;
    margin: 240px 0 40px 0;
}
.imageBar img {
    width: 100%;
}

/* Announcements (+markdown) */
.ann-text {}
.ann-text h2 {
    margin: 0;
    color: white;
}
.ann-text p, .ann-text ol {
    margin-left: 30px;
}
.markdown img {
    float: right;
    max-height: 200px;
}
.ann-text .published-date {
    font-size: 60%;
    color: white;
    float: right;
}
.ann-text .more-info-link a{
    text-transform: lowercase;
    font-weight: normal;
    float: left;
    font-size: 80%;
    color: white;
}
.float-clear-left {
    clear: left;
}

.announce {
    margin-bottom: 5px;
    border: 2px solid;
    border-left: 8px solid;}
    .announce .crop {
        height: 90px;}
    .announce .event {
        font-size: 0.8em;}

.ann-red {
    border-color: #EE3A43;
}
.ann-blue {
    border-color: #0DAED3;
}
.ann-green {
    border-color: #50B748;
}
.ann-brown {
    border-color: #4C301C;
}
/*End Announcements*/

/*Markdown*/
.markdown a {
    color: #0DAED3;
    font-size: 100%;
    font-weight: bold;
    text-decoration: none;
    text-transform: none;
    padding: 0;   
}
/*Markdown END*/



h2.asset-page {
    font-size: 300%;
    color: #A5978D;
    margin: 0 0 0.3em 1em;
}

/*Start Plants*/
.plant-image {
    margin: 1em;
}
.plant-content {}
.plant-text-content {
}
/*Force small listing to extend the whole width*/
.plant-listing {
    list-style-type: none;
    font-size: 0.8em;
    max-width: 35em;
}
.plant-listing li {
    padding: 0.1em;
}
.plant-listing li:nth-child(even){
    background-color: rgba(78, 22, 0, 0.22);
}

.lfloat {
    float: left;
}
/*End Plants*/

/*First major breakpoint where hazelnut image reduces in size*/

@media only screen and (min-width: 950px) {
    .first-content-div {
        margin-right: 14em;
    }
    .announcement {
        margin-right: 16em;
    }
}
@media only screen and (max-width: 949px) {
    .background-nut {
        background-size: 20em;
    }
    .spacer-div {
        width: 130px;
        height: 80px;
    }
    .right-column {
        top: 80px;
    }
    #imgcontent img {
        width: 70%;
    }
    #sidenav {
        font-size: 0.8em;
    }
    #sidecontent {
        width: 160px;
        padding-left: 10px;
    }
    .main-content {
        margin-right: 92px;
    }
    .imageBar {
        margin-top: 80px;
    }
    .sub-page-content {
        margin-right: 100px;
    }
}
@media only screen and (max-width: 950px) {
    .imageBar {
        display: none;
    }
}
@media only screen and (max-width: 800px) {
    .background-nut, .spacer-div {
        display: none;
    }
}
@media only screen and (max-width: 750px) {
    .main-content {
        margin-right: 0px;
        padding-right: 0px;
    }
    #main {
        background-image: none;
    }
    .app-asset-title {
        font-size: 1.3em;
    }
    h2.asset-page {
        font-size: 2em;
        margin-left: 1em;
    }

    /*Move right Column to bottom*/
    .right-column {
        position: relative;
        top: 0px;
        width: 100%;
        margin-bottom: 20px;
    }
    .right-column #sidecontent {
        width: 100%;
        border-left: none;
        margin-left: 33px;
    }
    .sponsor {
        position: relative;
    }
    div.side-logo {
        display: none;
    }
    .sponsor img {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;

    }
    .community-partners {
        margin-bottom: 20px;
    }
    .community-partners a {
        display: inline-block;
        text-align: center;
        width: 45%;
        min-width: 200px;
    }
    .community-partners img {
        width: 100%;
    }
    .sidetitle {
        font-size: 150%;
        color: #A5978D;
        margin: 1em 0px;
        font-weight: normal;
    }
    #sidenav {
        font-size: 1em;
    }
    .social-desktop {
        display: none;
    }
    .social-mobile {
        display: block;
    }
    
}
@media only screen and (max-width: 750px) and (min-width: 561px) {
    .sidetitle {
        margin-left: 33px;
    }
    #contact-info p {
        text-align: center;
        width: 45%;
    }
    ul.side-ul {
        margin-left: 10%;
    }
}
@media only screen and (min-width: 561px) {
    .botnav a {
        padding: 0px 20px 6px 0px;
    }
}
@media only screen and (max-width: 560px) {
    .botnav {
        width: 100%;
        margin: 0;
        border: 0;
    }
    .botnav a {
        width: 90%;
        text-align: center;
        padding: 15px;
    }
    .container {
        position: relative;
    }
    .top-text {
        padding: 0px;
        margin-top: 4px;
        font-size: 0.7em;
    }
    .top-text a {
        font-size: 80%;
    }
    .nav {
        margin: 18px 0px 0px 0px;
    }
    #title {
        margin: 20px 0px 0px 137px;
        height: 130px;
    }
    h1.title-text {
        font-size: 5vw;
    }
    h2.subtitle-text {
        font-size: 4.5vw;
        bottom: 0px;
        position: absolute;
    }
    .container {
        margin: 0;
    }
    .main-content {
        margin-right: 0px;
        padding: 0 10px 0 10px;
    }
    #main {
        margin: 0;
    }
    .banner-img {
        margin: 0px 0px 0px 0px;
        width: 130px;
    }
    #brown-bg {
        top: 30px;
        height: 199px;
    }
    .content-div {
        margin: 0 10px 1em 0;
    }
    #contact-info p {
        text-align: center;
        width: 100%;
    }
    .thank-you-splash h2 {
        font-size: 200%;
    }
    .crop {
        height: 150px;
    }
    .event {
        padding: 1em 1em 0 1em;
        font-size: 0.6em;
    }
    .image-grid .event {
        font-size: 0.6em;
    }
    .event-desc .rsvp.btn {
        padding: 0.4em;
    }
}
