{% extends "base/app-page-content.html" %} 
{% load staticfiles %} 
{% load custom_markdown %}
{% block app-title %}Announcement | {{announcement.headline}} {% endblock app-title %}
{% block app-content %}
    {% if announcement %}
        <div class="app-listing container-fluid">
          <div class="crop">
            {% if announcement.primary_image %}
              <img src="/media/{{announcement.primary_image}}" alt="{{announcement.headline}} photo">
            {% endif %} 
            
            <div class="event">
              {% if announcement.headline %}
              <div class="event-desc">
                <h2 class="event-desc-header">{{announcement.title}}</h2>
                <a class="rsvp btn btn-primary" href="{% url 'announcement-detail' announcement.announcement_slug %}" role="button">See More</a>
              </div>
              {% endif %}
            </div>
          </div>


          <div>
            <p><i>From {{ class.event_start_time }} until {{ class.event_end_time }}</i></p>
            <p class="description">{{ class.class_description|parse_markdown }}</p>
            {% if class.class_location %}
                <p>Location: 
                    {% if class.class_location_link %}
                        <span class="blue"><a href="{{ class.class_location_link }}">
                    {% endif %}
                    {{ class.class_location }}
                    {% if class.class_location_link %}
                        </a></span>
                    {% endif %}
                </p>
            {% endif %}
            {# https://developers.google.com/structured-data/rich-snippets/events #}
            {# https://schema.org/Event #}
            {# https://schema.org/EducationEvent #}
            <script type="application/ld+json">
                {
                  "@context": "http://schema.org",
                  "@type": "EducationEvent",
                  "name": "Class: {{ class.title }}",
                  "startDate" : "{{ class.event_date|date:"c"}}",
                  "url" : "{{ request.build_absolute_uri }}",
                  "location" : {
                    "@type" : "Place",
                    "name" : "{{ class.class_location }}",
                    "address" : "{{ class.class_location }}"
                  },
                  "offers" : {
                    "@type" : "Offer",
                    "price":"{{ class.price }}",
                    "priceCurrency":"USD",
                    "url":"{{ class.ticket_link }}"
                  }
                }
            </script>
            </div>
        </div>
    {% endif %}
{% endblock app-content %}
{% block app-sidenav %}
  {% include "education/education-sidenav.html" %}
{% endblock app-sidenav %}
