{% load custom_markdown %}

{% if announcements %}
    {% if announcements.workParties %}
        {% for workparty in announcements.workParties %}
            <div class="content-div announcement first-content-div">
                <h2 class="content-title">Upcoming Work Party! {{workparty.work_party_date}}</h2>
            </div>
        {% endfor %}
    {% endif %}
    {% if announcements.newClasses %}
        {% for newClass in announcements.newClasses %}
            <div class="content-div announcement first-content-div">
                <h2 class="content-title">New Class! </h2>
            </div>
        {% endfor %}
    {% endif %}
    {% if announcements.upcomingClasses %}
        {% for upcomingClass in announcements.upcomingClasses %}
            <div class="content-div announcement first-content-div">
                <h2 class="content-title">Upcoming Class! </h2>
            </div>
        {% endfor %}
    {% endif %}
    {% for announcement in announcements.dynamic %}
        {% if announcement.announcement_publish_override %}
        <div class="content-div announcement first-content-div">
            <h2 class="content-title">{{announcement.announcement_slug}}</h2>
            <div class="markdown">
                {{ announcement.announcement_content|parse_markdown }}
            </div>
            {% if announcement.announcement_link %}
                <p class="more-info-link"><a href="{{announcement.announcement_link}}">More Info</a></p>
            {% endif %}
            <p class="published-date">Published on {{announcement.announcement_publish_date}}</p>
            <div class="float-clear-left"></div>
        </div>
        {% endif %}
    {% endfor %}
{% endif %}
