{% extends "base/index.html" %} 
{% block title %}{% block app-title %}{% endblock app-title %}{% endblock title %}
{% block canonical %}{% block app-canonical %}{% endblock app-canonical %}{% endblock canonical %}

{% block content %}
    <div class="container shortpage-container">
        <div id="indexcontent" class="main-content">
        	<div id="content">
        		<div class="spacer-div"></div>
				{% block app-content %}{% endblock app-content %}
			</div>
        </div>
        <div class="right-column">
            <div id="sidecontent">{% block app-sidenav %}{% endblock app-sidenav %}</div>
        </div>
    </div>
{% endblock content %}
