{% load staticfiles %}
<div id="donate" class="center-popup">
    <h2 class="content-title">
        Support the Beacon Food Forest
    </h2>
    <p>As we are powered by our community, we appreciate and welcome any donations for you to show your support of the Beacon Food Forest.
        <br/>
        <br/>
        <Strong>Donate through GROW, our fiscal sponsor</strong>
        <br/>You can make a monetary donation which goes toward the Beacon Food Forest's sustainability.
    </p>
    <div class="donate-help">
        <p>In order to direct the funds to the Beacon Food Forest, please make sure to select <strong>"Beacon Food Forest"</strong> from the <strong>"Apply my donation to"</strong> field of the donation screen.
        </p>
        <img class="fit-width donate-help-image" src="{% static " base/img/donate-help.png " %}">
    </div>
    <p>
        <a target="_blank" href="https://grow.networkforgood.com/"><img src="{% static " base/img/donate-now.gif " %}" alt="GROW donate button"></a>
    </p>
    <p>
        <br/><strong>Donate Food, Materials, Music, and tools:</strong>
        <br/>Please fill out the form below and include a short description of your donation.
        <br/>We will be in contact with you soon.
    </p>
    <!-- test -->
    {{ materials_donation_form }} {{ tester }} {{ lorem }}
    <!-- test -->
<!-- 
    <form method="post" action="/includes/mail.php">
        <div class="donateform">
            <label>
                <input id="donorname" size="40" name="donorname" type="text" placeholder="Your First &amp; Last Name" required autofocus>
            </label>
        </div>
        <div class="donateform">
            <label>
                <input id="email" name="email" type="email" placeholder="Your@email.com" required>
            </label>
        </div>
        <div class="donateform">
            <label>
                <select id="dtype" name="dtype" required>
                    <option value='' disabled selected style='display:none;'>Please select a donation type</option>
                    <option label="Food" value="food"></option>
                    <option label="Plants &amp; Materials" value="plantsandmats"></option>
                </select>
            </label>
        </div>
        <div class="donateform">
            <label>
                <textarea id="donatedesc" name="donatedesc" placeholder="A Short description of your donation:" required></textarea>
            </label>
        </div>
        <div class="donateform">
            <input type="submit" name="submit" value="Submit" class="submit-button" />
        </div>
    </form>
-->
</div>
