{% load staticfiles %}
<h2 class="content-title">Support the Beacon Food Forest</h2>

<p>As we are powered by our community, we appreciate and welcome any donations for you to show your support of the Beacon Food Forest.
    <br/>
    <br/>
    <Strong>Donate through GROW, our fiscal sponsor</strong>
    <br/>You can make a monetary donation which goes toward the Beacon Food Forest's sustainability.
</p>

<div class="donate-help">
    <p>In order to direct the funds to the Beacon Food Forest, please make sure to select <strong>"Beacon Food Forest"</strong> from the <strong>"Apply my donation to"</strong> field of the donation screen.
    </p>
    <img class="fit-width donate-help-image" src="{% static "base/img/donate-help.png" %}">
</div>

<p>
    <a target="_blank" href="https://grow.networkforgood.com/"><img src="{% static "base/img/donate-now.gif" %}" alt="GROW donate button"></a>
</p>