{% load staticfiles %}
<h2 class="content-title">Support the Beacon Food Forest</h2>
<p>As we are powered by our community, we appreciate and welcome any donations for you to show your support of the Beacon Food Forest.
    <br/>
    <br/>
    <strong>Donate through our non-profit entity the Food Forest Collective.</strong>
</p>
<script src="https://www.paypal.com/sdk/js?client-id=sb"></script>
<script>paypal.Buttons().render('body');</script>
<hr />
<p>For your contribution to be recognized as a tax deductible donation, please make your check out to "Food Forest Collective". In the memo line on the check include: <strong>Beacon Food Forest</strong>.<br /><br />
Mail the check to:</p>
<p>Food Forest Collective<br />
1410 S Lander St<br />
Seattle, WA 98144
</p>
<p>For other donations or concerns, please email <a href="mailto:donate@beaconfoodforest.org">donate@beaconfoodforest.org</a></p>
<hr />
<p>
    Your donation will be put towards many possible expenses including tools, food for volunteers, procuring plants, building materials, etc. Thank you so much, it helps as we are a volunteer-run organization.
</p>
