<div class="row copyright">
    <p class="col-md-6">&copy; {% now "Y" %} Beacon Food Forest. All rights reserved. Design by
        <span class="link">
            <a href="http://www.whitewindowstudios.com/" target="_blank">White Window Studios.</a>
        </span>
    </p>
    <p class="col-md-6">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> and <a href="http://www.flaticon.com/authors/darius-dan" title="Darius Dan">Darius Dan</a> <!-- from <a href="http://www.flaticon.com" title="Flaticon">flaticon</a> licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a> -->
    </p>
</div>
