{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Beacon Food Forest : A Community Permaculture Project
    </title>
    <link rel="stylesheet" href="{% static "base/css/style.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "base/css/slicknav.css" %}" type="text/css" />
    <link rel="shortcut icon" href="{% static "base/img/favicon.ico" %}" type="image/x-icon" />
    <!-- Google Translate Meta -->
    <meta name="google-translate-customization" content="d146be5ef5f93bc-8a449acf17695ebb-gba1a2e4ad08a8c79-14">
    <!--/Google Translate Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static "base/js/jquery.js" %}"></script>
    <script src="{% static "base/js/jquery.slicknav.js" %}"></script>
</head>

<body>
    <div id="popcontent">{% include "base/popcontent.html" %}</div>
    <div id="main">
        <div class="background-nut"></div>
        <div id="headercontent">{% include "base/header.html" %}</div>
        {% block content %}{% endblock content%}
        <div id="footercontent">{% include "base/footer.html" %}</div>
    </div>
    
    <script type="text/javascript" src="{% static "base/js/easypop.js" %}"></script>
    <script src="{% static "base/js/bffga.js" %}"></script>
    
</body>

</html>