{% load staticfiles %}
{% load news_articles current_classes work_parties downloads_tag %}

<div id="sidenav">
    {% show_current_classes %}
    {% show_current_work_parties %}
    {% show_recent_articles %}
    {% show_published_downloads %}

    <div class="sponsor">
        <div class="side-logo">
            <a href="{% url 'homepage' %}">
                <img src="{% static "base/img/bff_botlogo.png" %}" class="sponsorlh10" alt="Beacon Food Forest Logo"/>
            </a>
        </div>
        <div class="community-partners">
            <h2 class="sidetitle content-title">Community Partners</h2>
            <a href="http://www.centralcoop.coop/" target="blank">
                <img src="{% static "base/img/coop.jpg" %}" class="sponsorlh10" alt="Central Co-Op Community Partner"> 
            </a>
        </div>
        <div>
            <h2 class="sidetitle content-title">Sponsored by</h2>
            <a href="http://www.seattle.gov/neighborhoods/" target="_blank">
                <img src="{% static "base/img/neighborhoods-logo.jpg" %}" alt="Seattle Department of Neighborhoods Sponsor Logo">
            </a>
        </div>
    </div>
</div>
<!-- DIV SIDENAV -->