/* 
Content 
#4C301C

Text 
Headers 
#A5978D

Green 
#7AC143

Blue 
#0DAED3

 */

/*
//////	Global text styles 
									
	/* 
	non global text > 
		.top-text  
		.title-text
		.subtitle-text
		.side-title
		.sponsor   
							*/					
			
p{
	color:#4C301C;
	font-size: 12px;
	font-family: "helvetica";

}

.content-title{
	font-size: 25px;
	color:#A5978D;
	font-family: "Georgia";
	}

.text-bold{
	font-weight:bold;
		color:#4C301C;
	font-size: 12px;
	font-family: "helvetica";
	}
.text-green{
	color: #50B748;

}

	
/* 
//////Links */

	/* 	Bold & Uppercase  */
		.nav a, 
		.nav a:link,
		.nav a:visited,
		.nav a:hover,
		.nav a:active {
			color: #4C301C;
			font-size: 12px;
			/* font-family: "Segoe"; */
			font-family: "helvetica";
			font-weight: bold;
			text-decoration: none;
			text-transform:uppercase;
			padding: 0px 30px 0 0;
			vertical-align: middle;
			

			}

		#botnav a,
		#botnav a:link,
		#botnav a:visited,
		#botnav a:hover,
		#botnav a:active {
			vertical-align: middle;
			color: #fff;
			font-size: 12px;
			/* font-family: "Segoe"; */
			font-family: "helvetica";
			font-weight: bold;
			text-decoration: none;
			text-transform:uppercase;
			padding: 0px 0px 0 20px;

			}
			
	/* 	Normal & Underlined */
		#container .link a,
 		#container .link a:link,
		#container .link a:visited,
		#container .link a:hover,
		#container .link a:active {
			color: #4C301C;
			font-size: 12px;
			font-weight: normal;
			/* font-family: "Segoe"; */
			font-family: "helvetica";
			text-decoration: underline;
			text-transform:none;
			padding: 0px 0 0 0;

			}

		#footer .link a, 
		#footer .link a:link, 
		#footer .link a:visited,
		#footer .link a:hover,
		#footer .link a:active {	
			color: #4C301C;
			font-size: 12px;
			font-weight: normal;
			/* font-family: "Segoe"; */
			font-family: "helvetica";
			text-decoration: underline;
			text-transform:none;
			padding: 0px 0 0 0;


			}
	/* 	Bold & Underline */
		#container .heavy a,
		#container .heavy  a:link,
		#container .heavy  a:visited,
		#container .heavy  a:hover,
		#container .heavy  a:active {
			color: #4C301C;
			font-size: 12px;
			/* font-family: "Segoe"; */
			font-family: "helvetica";
			font-weight: bold;
			text-decoration: underline;
			text-transform:none;
			padding: 0px 0 0 0;

			}

	/* Bold & Blue */
	#container .blue  a,
 	#container .blue a:link,
 	#container .blue a:visited,
 	#container .blue a:hover,
 	#container .blue a:active {
		color: #0DAED3;
		font-size: 12px;
			/* font-family: "Segoe Semibold"; */
			font-family: "helvetica";
		font-weight: bold;
		text-decoration: none;
		text-transform:none;
		padding: 0px 0 0 0;

		}
	
	.blue  a,
 	.blue a:link,
	.blue a:visited,
	.blue a:hover,
	.blue a:active {
		color: #0DAED3;
		font-size: 12px;
			/* font-family: "Segoe Semibold"; */
			font-family: "helvetica";
		font-weight: bold;
		text-decoration: none;
		text-transform:none;
		padding: 0px 0 0 0;

		}	
	
	/* Static anchor for content-title */	
		.content-title a,
		.content-title a:link,
		.content-title a:visited,
		.content-title a:hover,
		.content-title a:active {
			color:#A5978D;
			font-size: 25px;
			font-family: "Georgia";
			font-weight: normal;
			text-decoration: none;
			text-transform:none;
			padding: 0px 0 0 0;

			}



/* //////	END - Global text styles ////// */				
/* Fade for popUps */
#fadeMail{
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

#fadeCal{
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}
#fadeDon{
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}
#fadeDir{
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

#fadeReg{
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

#fadeVid{
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}
/* END Fade for popUps */

/* Actual pop ups */
#mailList{
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 200px;
	margin-left: -150px;
	margin-top: -100px;					

	background: #FFF;
	z-index:1002;
	overflow:visible;
	padding: 15px 5px 0px 20px;
	border: 10px #50B748 solid;

}
#directions{
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 600px;
	height: 700px;
	margin-left: -300px;
	margin-top: -350px;					

	background: #FFF;
	z-index:1002;
	overflow:visible;
	padding: 15px 15px 0px 15px;
	border: 10px #50B748 solid;

}
#calendar{
 	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 820px;
	height: 620px;
	margin-left: -410px;
	margin-top: -310px;					

	background: #FFF;
	z-index:1002;
	overflow:visible;
	padding: 15px 5px 0px 20px;
	border: 10px #50B748 solid;
	} 


#donate{
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 600px;
	height: 500px;
	margin-left: -300px;
	margin-top: -250px;					

	background: #FFF;
	z-index:1002;
	overflow:visible;
	padding: 15px 15px 0px 15px;
	border: 10px #50B748 solid;

	} 
.donateform{
	display: block;
	}
	.donateform label {
	color:#4C301C;
	font-family: "helvetica";
	}

	.donateform 	input,	.donateform select {
	width: 580px;
	height: 30px;
	margin: 0px 0px 5px 0px;
	padding: 0 0 0 5px;
	color:#4C301C;
	font-family: "helvetica";
	}
	
	.donateform 	label select {
	width: 585px;
	height: 30px;
	font-size: 12px;
	font-height: 18px;
	color:#4C301C;
	font-family: "helvetica";
	}
	
	.donateform textarea {
	width: 580px;
	height: 100px;
	color:#4C301C;
	font-family: "helvetica";
	resize: none;
	}


#video{
 	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 700px;
	height: 500x;
	margin-left: -350px;
	margin-top: -250px;					

	background: #FFF;
	z-index:1002;
	overflow:visible;
	padding: 20px 20px;
	border: 10px #50B748 solid;
	
	} 
#register{
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 650px;
	height: 500px;
	margin-left: -100px;
	margin-top: -100px;					

	background: #FFF;
	z-index:1002;
	overflow:visible;
	padding: 15px 5px 0px 20px;
	border: 10px #50B748 solid;

	
}

#fade p{
	color:#4C301C;
	font-size: 12px;
	font-family: "helvetica";

}
								
body{
	background:#fff;
	z-index: -3;
	}

#header{
	width: 100%;
	height: 225px;
	padding: 0px 0px;
	margin: 15px 0 0 0px;
	position: absolute;
	z-index: 0;
	}

	#brown-bg {
		background-color: #4C301C;
		height: 225px;
		width: 1000px;
		position: absolute;
		margin: 21px 0 0 -8px;
		z-index: -4;
		}
	#green {
		width:155px;
		height:255px;
		position: absolute;
		margin: -15px 15px 0 15px;
		z-index: 3;
		}
	
	.banner-img {
		/* background-image:url('img/bg.png'); */
		width:155px;
		height:255px;
		position: absolute;
		margin: 0px 0px;
		z-index: 3;
		}

	.nav{
		width: 90%;
		height: 25px;
		background-color: #0DAED3;
		float: right;
		text-align: right;

		margin: 12px 0 0 0;

		}
		.nav a {

		z-index: 10;
		position:relative;
		}
		
#main{
	background-image:url('img/bg.png');
	background-repeat:no-repeat;
	width: 1000px;
	height: auto;
	position: absolute;
	margin: -8px -8px;
	padding: 15px 0px 0 0;
	z-index: 1;
	}

.top-text{
	color:#4C301C;
			/* font-family: "Segoe"; */
			font-family: "helvetica";
	font-size: 14px;
	float:right;
	margin: -12px auto;
	padding: 5px  35px 0 0;
	position: relative;
	z-index: 1;
	}



/* 
////// Navigation Header content
					*/
			

#title {
	float: left;
	position: relative;
	text-align: left;
	margin: 20px 0 30px 190px;
	left: 0px;
	width: 425px;
		z-index: 3;
	}
	
/* These styles only appear in #title */
	.title-text{
		color: #fff;
		font-size: 28px;
		font-family:"Georgia";
		}

	.subtitle-text{
		color: #ee3a43;
		text-transform:uppercase;
		font-size: 25px; 
		font-family: "Lucida Grande";
		}

/* 
////// This holds the content, the images, and the sidebar */
#container{
	width: 100%;
	height: auto;
	margin: 33px 0 0 0;
	padding: 250px 0 0px 0 ;
	float:right;
	z-index: -5
	}

		/* Front page content (left) */
		#content{
		
			width: 460px;
			height: auto;
			margin: 30px 0px 0 33px;
			float:left;
			z-index: 3;
			}
		
		#content-ext{
			
			width: 686px;
			height: auto;
			margin: 30px 0px 0 33px;
			padding: 0 50px 0 0;
			float:left;
			z-index: 3;
			}	
			
		.shorttext {
		width:460px;
		}
		
		#content-perma{
					clear: both;
			width: 686px;
			height: auto;
			margin: 30px 0px 0 33px;
			padding: 0 50px 0 0;
			float:left;
			z-index: 3;
			}
			
			#content2-perma{
				
				width: 460px;
				height: auto;
				padding: 0 227px 0  0;
				margin: 0 0px 0 0px;
				float:left;
				z-index: 3;
				}
			
			
			.link-table {
				border-collapse:separate;
				border-spacing: 20px 0px;
				margin: 0px 0 0 -20px;
				}
			.perma-table{
			width: 700px;
			height: auto;
						
				border-color: #A5978D;
				border-spacing: 0;
				margin: 0px 0 0 5px;


				}
				
			.perma-table td, .perma-table th{
			width: 50%;
			height: auto;
			color:#4C301C;
			font-size: 12px;
			font-family: "helvetica";
				padding: 10px 10px;
				margin: 0 0 -1px -1px;
			vertical-align: top;
			
				}

			/* Images here */
			#imageBar{
				width: 212px;
				margin: -180px 00px 0 64px;
				position: relative;
				float:left;
				padding: 0 0 -30px 45px;
				/* border-right: 10px #50B748 solid;	 */			
				}
				
				/* Image spacing */

					.regular{
					margin:450px 10px 0px 0 ;
					}
					.negspace{
					margin:410px 10px 0 0;
					position: relative;
					}

				
			/* Events, workparties, etc */
			#sidenav{
				float:left;
				margin: 270px 0 -19px 0px;
				padding: 0 25px 10px 25px;
				bottom: 0;
				width:150px;
				height: auto;
				border-left: 10px #50B748 solid; 
				}

				.sidetitle{
					font-size: 19px;
					color:#7AC143;
					font-family: "Georgia";
					 line-height:90%;
					}
				
				/* This only appears once */
				.sponsor{
					font-size: 19px;
					color:#4C301C;
					font-family: "Georgia";
					line-height:110%;
					position: relative;
					padding: 15px 0;

					}
					.sponsor img {
					p: 0 0px 0 -5px;}
			/* Bottom Navigation Bar */
			#botnav {
				clear:both;
				width: 745px;
				height: 25px;
				background-color: #4C301C;
				border-right: 10px  #50B748 solid;
				padding: 0 0 0 25px;
				margin:  0 0 0 -35px;
				}


/* 
	Footer */

#footer{
	width: 750px;
	position:relative;
	clear:both;
	bottom: 0;
	padding: 0px 0px 16px 35px;
	height: 30px;
	background-color: #fff;
	margin: 0 0px 0 -1px;
	z-index:10;
	}

/* 
//////Extras */


