{% extends "base/app-page-content.html" %} 
{% load staticfiles %} 
{% load custom_markdown %}


{% block header %}{% include "base/header.html" with h1="Plant List" %}{% endblock header %}

{% block app-content %}
    <h2 class="asset-page">{% block title %}{{ title }}{% endblock title %}</h2>
    {% if plants %}
        <table class="table table-striped">
            <thead>
                <tr>
                <th>Plant</th>
                <th>Code</th>
                <th>Location</th>
                </tr>
            </thead>       
            <tbody>
        {% for plant in plants %}
                <tr>
                    <td><span class="blue"><a href="{% url "plants-detail" plant.canonical %}">{{ plant.name }} </a></span></td>
                    <td><span class="blue"><a href="{% url "plants-detail" plant.canonical %}">{{ plant.site_code }}</a></span></td>
                    <td>
                        {% if plant.location.friendly_location %}
                            {{ plant.location.friendly_location }}
                        {% endif %}
                    </td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock app-content %}



