{% extends "base/app-page-content.html" %} 
{% load staticfiles %} 
{% load custom_markdown %}
{% block app-content %}
    {% if plants %}
        {% for plant in plants %}
            <div class="app-listing">
                <p><span class="blue">
                    {% if plant.url_slug %}
                        <a href="{% url "plants-detail" plant.url_slug %}">{{ plant.name}}</a>  
                    {% else %}
                        <a href="{% url "plants-detail" plant.site_code %}">{{ plant.name}}</a>          
                    {% endif %}
                    Latin: {{ plant.latin_name }}, Site Code: {{ plant.site_code }}
                </span></p>
            </div>
        {% endfor %}
    {% endif %}
{% endblock app-content %}
