{% extends "base/app-page-content.html" %} 
{% load staticfiles %} 
{% load custom_markdown %}

{% block header %}{% include "base/header.html" with h1="Plants" %}{% endblock header %}
{% block title %}{{ plant.name}} ({{ plant.site_code }}) Plant Page{% endblock title %}

{% block app-canonical %}
<link rel="canonical" href="http://beaconfoodforest.org{% url "plants-detail" plant_url %}" />
{% endblock app-canonical %}

{% block app-content %}
    <div class="alert alert-warning">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <strong>This plant page is under contruction.  Information on this page may be incorrect.  The Beacon Food Forest assumes no responsibility for accuracy of the content on this page.</strong>
    </div>
    {% if plant %}
        <div class="content-div">
            <h2 class="app-asset-title">
                <a href="{% url "plants-detail" plant_url %}">{{ plant.name}} ({{ plant.site_code }})</a>  
            </h2>        
            <div id="primary-image">
              {{ plant.primary_picture }}
            </div>
            <div class="plant-content">
                
                <div class="plant-text-content">
                    {% if plant.friendly_name %}
                    <p>Also called {{ plant.friendly_name }}</p>
                    {% endif %}
                    {% if plant.latin_name %}
                    <p>Latin: <i>{{ plant.latin_name }}</i></p>
                    {% endif %}
                    
                    {% if plant.location and plant.location.friendly_location %}
                        <p>Location: {{ plant.location.friendly_location}}
                        {% if plant.location.greater_area %}
                            in {{ plant.location.greater_area }}
                        {% endif %}
                        </p>
                    {% endif %}
                    <p>{{ plant.text|parse_markdown}}</p>
                </div>

                {% if plant.geo_location %}
                <div class="plant-image lfloat">
                    <img src="http://maps.googleapis.com/maps/api/staticmap?center=47.5679410,-122.3127390&zoom=18&size=250x300&maptype=hybrid&markers=color%3ared%7C{{plant.geo_location.latitude}},{{plant.geo_location.longitude}}&sensor=true">
                </div>
                {% endif %}

                {# https://developers.google.com/chart/infographics/docs/qr_codes#overview #}
                <div class="lfloat plant-image">
                    <img src="https://chart.googleapis.com/chart?cht=qr&chs=200x200&chld=Q&chl=http%3A%2F%2Fbeaconfoodforest.org{% url "plants-detail" plant_url as purl %}{{ purl|urlencode }}">
                </div>
            </div>
        </div>
    {% endif %}
{% endblock app-content %}
