{% extends "base/asset_page.html" %} 
{% load staticfiles %} 
{% load custom_markdown %}
{% block asset-content %}
    {% if plant %}
        <div id="class-primary-image">
        </div>
        <div class="plant-listing">
            {% if plant.url_slug %}
                <a href="{% url "plants-detail" plant.url_slug %}"><h3>{{ plant.name}}</h3></a>  
            {% else %}
                <a href="{% url "plants-detail" plant.site_code %}"><h3>{{ plant.name}}</h3></a>          
            {% endif %}        
            <div id="primary-image">
              {{ plant.primary_picture }}
            </div>
            <div class="plant-text-content">
                <p>Site Code: {{ plant.site_code }}</p>
                <p>Latin Name: {{ plant.latin_name }}</p>
                <p>Friendly Name: {{ plant.friendly_name }} by {{ plant.friendly_name_author }}</p>
                <p>{{ plant.text|parse_markdown}}</p>
                <p>Location: TBD</p>
            </div>
        </div>
    {% endif %}
{% endblock asset-content %}
